spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sqp_db?useSSL=false&serverTimezone=UTC
    username: root
    password: root

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
